*{
   margin: auto; 

}
body{
    background-color: lightblue;
    display:flex;
    justify-content:center; 
    align-items:flex-start ;
    min-height: 100vh;

}
.container{
    
    width:100%;
    max-width: 1000px;
    background: white;
    
    
}

div .profileText{
    height: 800px;
    width: 300px;
    background-color: rgb(123, 171, 179);
    padding: 8px;
    position: absolute;   
    left: 0;
    margin-left: 2px; 
    top: 0;
    margin-top:2px;

    
}

div .rightSide{
    height:250px;
    width:300px;
    position: absolute;
    left: 330px;
    top:100px;

}



