*{
   margin: auto; 
   font-family: 'Courier New', Courier, monospace;
   


}
body{
    background-color: rgb(166, 198, 209);
    display:flex;
    justify-content:center; 
    align-items:flex-start ;
    

}
.container{
    
    width:100%;
    max-width: 1000px;
    background: white;
    
    
}

div .profileText{
    height: 800px;
    width: 300px;
    background-color: rgb(123, 171, 179);
    padding: 8px;
    position:absolute;

    
    
    

    
}

div .rightSide{
    height:250px;
    width:400px;
    position: absolute;
    left: 330px;
    top:100px;

}
div .rightSide h1 {
    font-size: 30px;
    
}



